<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tweet</title>
</head>
<body>
      <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
       <h3>Id: <%= post.id %></h3>
       <h3>Username: @<%= post.username %> </h3>
        <textarea rows="10" cols="40" name="tweet"><%= post.tweet %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>