<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create tweets</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Enter username"> <br> <br>
        <textarea placeholder="What's on your mind today?" name="tweet" rows="10" cols="40"></textarea>
        <button>Post</button>
    </form>
</body>
</html>